* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

.menu-lateral {
    width: 80px;
    height: 100vh;
    background-color: #165F7C;
    padding: 20px 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
    z-index: 1;
}

.menu-lateral.expandir {
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 25px;
    margin-bottom: 200px;
}

.btn-expandir i {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.lateral {
    width: 100%;
    height: 100%;
    list-style-type: none;
}

ul li.item-lateral {
    transition: .2s;
}

ul li.ativo {
    background-color: rgba(209, 209, 209, 0.2);
}

ul li.item-lateral:hover {
    background: rgba(209, 209, 209, 0.2);

}

ul li.item-lateral a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    line-height: 40px;
}

ul li.item-lateral a .txt-link {
    margin-left: 70px;
    transition: 1s;
    opacity: 0;
}

.menu-lateral.expandir .txt-link {
    margin-left: 40px;
    opacity: 1;
}

ul li.item-lateral a .icon>i {
    font-size: 30px;
    margin-left: 20px;
}

.principal {
    width: 96vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}

.linha-home {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.versao {
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    gap: 10px;
}

.versao img {
    width: 45px;
    height: 45px;
    margin-left: 20px;
}

.versao p {
    color: #333;
}

.home {
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    gap: 40px;
}

.home a {
    color: #333;
    text-decoration: none;
}

.home a:hover {
    transform: scale(1.1);
}

.home img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 40px;
}

.menu-img {
    width: 100%;
}

.categorias {
    width: 100%;
    height: 12vh;
    box-shadow: 0px 7px 20px 0px rgb(0, 0, 0, 0.1);
}

.categorias ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    letter-spacing: 3px;
    cursor: pointer;
}

.categorias ul li.tipo {
    transition: .2s;
}

.categorias ul li.ativo {
    transform: scale(1.1);
    background: #b0e4c8;
}

.categorias ul li.tipo:hover {
    transform: scale(1.1);
    background: #b0e4c8;
}

.tipo a {
    display: flex;
    padding: 20px 18px 20px 18px;
    font-weight: bolder;
    text-decoration: none;
    color: #333;
}

.produtos {
    width: 96vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: #ececec;
    overflow: hidden;
    overflow-y: scroll;
    flex-wrap: wrap;
}

.produtos>img {
    width: 150px;
    height: 150px;
    margin: 50px;
}

.item-produto {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background: #464646;
    box-shadow: 0 0 15px 5px rgb(0, 0, 0, 0.1);
    border-radius: 12px;
    text-decoration: none;
    margin: 50px;
    word-break: normal;
    transition: .2s;
}

.item-produto img {
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.item-produto p {
    color: #fff;
    font-size: 16px;
    letter-spacing: 3px;
    padding-bottom: 15px;
    margin: 0 20px 0 15px;
}

.item-produto:hover {
    transform: scale(1.1);
}